*{

  margin:0;
  padding:0;
}
.wrap {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.child {
  color:#f5694e;
  color:#e7d588;

  min-height: 200px;
  -webkit-box-flex: 1;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: Georgia;
  -webkit-box-align: center;
}
 li{
  list-style: none;
}


.ui-wsng-temp {
  height:100%;
  margin:0px;
  /* color: #1E1E1E; */
}

.ui-wsng-bg{
    background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
    background: url("/static/img/background/bg.jpg");
}
.img-responsive{
  width: 100%;
}
.ui-wsng-cl{
  color: white;
  text-align: center;
}
